/* Admin Volunteers Page Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
    /* Adding specificity to ensure admin footer is the same height as the main footer */
    padding: 30px 0 10px !important;
} 